.grad{
	height: 97.7vh;
	width: 90vw;
	background: linear-gradient(45deg, #171717, #39A9CB);
	background-size: 200% 200%;
	animation: colors 15s ease infinite;
}

@keyframes colors {
	0%{
       background-position: 0% 50%; 
	}

	50%{
        background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.box{	
  padding-top: 100px;
  padding-right: 180px; 
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(78, 158, 179);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.911);
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    text-align: left;
    
}

#fundo-forms{
  background-color: rgb(64, 138, 156);
  border: 3px solid rgba(98, 135, 145, 0.795);
  border-style: inset;
}

#titulo{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(8, 125, 155);
  text-shadow: 2px 2px rgba(45, 45, 128, 0.911);
  text-align: center;
  padding: 25px;
}

#tarefas{
  margin: 30px;
  vertical-align: bottom;
}

#copyright{
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(88, 127, 138);
  text-shadow: 1px 1px rgba(65, 89, 95, 0.842);
  padding-top: 400px;
  padding-left: 75px;
}
